label { 
    display: grid;
    grid-template-rows: repeat(2, auto);
    gap: 5px;
    align-content: space-evenly 
}

.publish-status {
    display: block;
}

form {
    display: grid;
    grid-template-rows: repeat(auto, auto);
    gap: 20px;
}

@media ( min-width: 600px ) {
    .BlogForm-form {
        gap: 24px;
    }

    .title {
        text-align: center;
    }

    .textbox-label {
        text-align: center;
        grid-template-rows: auto 100px;
    }

    main {
        display: grid;
        gap: 20px;
        grid-template-rows: repeat(3, auto);
    }
}

@media ( min-width: 1000px ) {
    main {
        gap: 46px;
    }
    .textbox-label {
        grid-template-rows: auto 240px;
    }
    .BlogForm-form {
        gap: 46px;
    }
}