label {
    display: grid;
    grid-template-rows: repeat(2, auto);
    gap: 5px;
    align-content: space-evenly;
}

.publish-status {
    display: block;
}

form {
    display: grid;
    grid-template-rows: repeat(auto, auto);
    gap: 20px;
}

.comments {
    display: grid;
    gap: 5px;
}


.comments-ul {
    display: grid;
    grid-template-rows: repeat(auto, auto);
    margin-top: 20px;
    gap: 15px;
}

.comment-li {
    display: grid;
    grid-template-rows: repeat(auto, auto);
    align-items: center;
    gap: 4px;
    
    border: 2px solid black;
    padding: 10px;
}

@media ( min-width: 600px ) {
    .BlogForm-form {
        gap: 24px;
    }
    
    .title {
        text-align: center;
    }

    .textbox-label {
        text-align: center;
        grid-template-rows: auto 100px;
    }

    .comments-heading {
        text-align: center;
    }

    .comments {
        gap: 10px;
    }

    main {
        display: grid;
        gap: 20px;
        grid-template-rows: repeat(3, auto);
    }
}

@media ( min-width: 1000px ) {
    main {
        gap: 46px;
    }

    .textbox-label {
        grid-template-rows: auto 240px;
    }

    .BlogForm-form {
        gap: 46px;
    }

    .comments {
        gap: 24px;
    }
}