label {
    display: grid;
    grid-template-rows: repeat(2, auto);
    gap: 5px;
    align-content: space-evenly;
}

.publish-status {
    display: block;
}

form {
    display: grid;
    grid-template-rows: repeat(auto, auto);
    gap: 20px;
}

.comments {
    display: grid;
    gap: 5px;
}


.comments-ul {
    display: grid;
    grid-template-rows: repeat(auto, auto);
    gap: 15px;
}